# python data types are categorized into two as follows

.Mutable Data Types:Data types in python where the value assigned to a variable can be changed
but mamore shuld be no chang 


.Immutable Data Types: data types in python 
 namber string and tuples int decimal,float,tuple,bool reang and sttrings

- Mutable Data type = L- List
                      ,S- Set
                      ,D- dictionary

- Immutable Data type = S- String
                        ,T- Tuple
                        ,F- FLoat
                        ,D- Decimal
                        ,B- Bool

# List data types

# python list

- List data types is mutable
- Ordered:Tha items in the lists are ordered. each itam has a unidex index value.
- Heterogenous: Tha list can contain different kinds of elements i.e: than can contain elements of       string.integer.boolean,or any type
- Duplicates: Tha list can contain duplicatas i,e,, lists can have two items with tha same values why   use a list
- list is iterable- in python, an "iterable" refers to an object that can be iterable over, meaning you can through its elements one by one iterable are a fundamental concept in python's iterable protocol and they are used in various contexts where you need to process elements sequentially such as in loops and comprehension expressions examples of built-in python iterable include lists, tuple,strings dictionaries (when iterable over keys,value of item),sets, and more.

# List data types

append

In [2]:
my_list=[11,15,11,'aayush',2.7]
name=('aayush')
print('name')

name

## x=(1,2,3)
x= list (x)
print(x)

In [20]:
x=('aayush')
x=list(x)
print(x)

['a', 'a', 'y', 'u', 's', 'h']

In [1]:
print(len( MY_list ))

NameError: name 'MY_list' is not defined

In [22]:
my_list=[11]
number=11
print(my_list)

[11]

In [3]:
my_list=[11,12,'aayush',15,16,17]
print(my_list[1])
print(my_list[5])

12
17

In [8]:
my_list=[11,12,'aayush',15,16,17]
print(my_list[-2])

16

In [9]:
my_list=[11,12,14,'aayush',15,16,17]
print(my_list[-4])

aayush

In [28]:
my_list=[11,12,14,'aayush',15,16,17]
print(my_list)
print(len(my_list))

[11, 12, 14, 'aayush', 15, 16, 17]
7

In [29]:
x=print([1,2,3])

[1, 2, 3]

In [33]:
my_list=[11,12,14,'aayush',15,16,17]
print(my_list[2:5])

[14, 'aayush', 15]

# Syntax of 

# listname[start_index

In [4]:
my_list=[11,12,14,'aayush',15,16,17]
print(my_list[2:5:2])

[14, 15]

In [9]:
my_list=[11,12,14,'aayush',15,16,17,22,30,56]
print(my_list[2:9:3])

[14, 16, 30]

In [ ]:
1 and 5 or 15 and  9>10!=11>10 or 20

In [11]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[2:7:3])

[14, 16]

In [12]:
my_list=[5,2,'aayush',6,7,3]
print(my_list[:4])

[5, 2, 'aayush', 6]

In [14]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[0:9])

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45]

In [20]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[0:10])

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70]

In [23]:
my_list[::2]

[11, 14, 15, 17, 45]

In [24]:
my_list[3:]

['aayush', 15, 16, 17, 30, 45, 70]

In [1]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
for item in my_list:
     print(item)

11
12
14
aayush
15
16
17
30
45
70

In [51]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
# iterate a list
for item in my_list:
    print(item)

11
12
14
aayush
15
16
17
30
45
70

In [ ]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]

# iterate a list

# Adding elements to tha list

we can add a new elements/list of to tha list using tha list methods such as append(),insert(),and extend()

In [4]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.append('pankaj')
print(my_list)

print(id(my_list))

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'pankaj']
1374760268736

In [3]:
print(id(z))

140706618370800

In [4]:
print(id(my_list))

1461714213568

In [17]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(id('z'))
print(id(my_list))

140726715763832
2058210532992

In [20]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(id(z))
print(id(my_list))

140726714329840
2058210521152

In [21]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.append([35,56,78])
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, [35, 56, 78]]

# Add item at tha specified

insert(index1.object

In [27]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.insert(3,35)
print(my_list)

[11, 12, 14, 35, 'aayush', 15, 16, 17, 30, 45, 70]

# Using extend()

Tha extend method will accept tha list of elements add them addd tha and of tha list.we can

In [29]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
z=my_list.append('pankaj')
print(my_list)

my_list.insert(3,35)
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'pankaj']
[11, 12, 14, 35, 'aayush', 15, 16, 17, 30, 45, 70, 'pankaj']

In [30]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.append([12,15,16])
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, [12, 15, 16]]

In [ ]:
my_list.append([12,15,16])

print(my_list)

In [31]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
z=my_list.extend([12,15,16])
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 12, 15, 16]

In [38]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.extend("depak")
print(my_list)              # van ve will to add ani data type in a bas tha outcan will be list
                              oll tha data

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'd', 'e', 'p', 'a', 'k']

In [15]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.extend('depak')
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'd', 'e', 'p', 'a', 'k']

In [41]:
z=[1,2,5,7]
z.extend("disha")
print(z)

[1, 2, 5, 7, 'd', 'i', 's', 'h', 'a']

In [25]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.append('disha')
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'disha']

In [42]:
z=[1,2,5,7]
z.extend([6,5,11])
print(z)

[1, 2, 5, 7, 6, 5, 11]

# Modify items of tha list

In [43]:
z=[1,2,5,7]
z[2] = 7
print(z)

[1, 2, 7, 7]

In [2]:
z=[1,2,5,7,8]
z[3] = 5
print(z)

[1, 2, 5, 5, 8]

In [26]:
z=[1,2,4,7,9,15,36,76,45,58]
z[2:4] = [5,8,6]
print(z)

[1, 2, 5, 8, 6, 9, 15, 36, 76, 45, 58]

In [1]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.extend("depak")
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'd', 'e', 'p', 'a', 'k']

In [2]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.extend("depak")
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70, 'd', 'e', 'p', 'a', 'k']

# Removing elements from a list

1 removing(list)     to removing tha fist occurrence of tha item feom tha list
2 pop(index)         removes and retuns tha item at tha givan index feom tha                        list
3 clear()            to remove 
4 del list_name

In [5]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.remove(14)
print(my_list)

[11, 12, 'aayush', 15, 16, 17, 30, 45, 70]

In [1]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.remove(14)
print(my_list)

[11, 12, 'aayush', 15, 16, 17, 30, 45, 70]

In [7]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.pop(2)
print(my_list)   

my_list.pop()

[11, 12, 'aayush', 15, 16, 17, 30, 45, 70]

70

In [4]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.pop(2)
print(my_list)

[11, 12, 'aayush', 15, 16, 17, 30, 45, 70]

# removes tha range of items

In [12]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[2:6]
print(my_list)

[11, 12, 17, 30, 45, 70]

In [17]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[2:9]
print(my_list)

my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[3:]
print(my_list)

[11, 12, 70]
[11, 12, 14]

In [2]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[:0]
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70]

In [18]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[0:]
print(my_list)

[]

In [6]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[0]
print(my_list)

[12, 14, 'aayush', 15, 16, 17, 30, 45, 70]

In [8]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
del my_list[-3:-1]
print(my_list)

[11, 12, 14, 'aayush', 15, 16, 17, 70]

In [10]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.clear()
print(my_list)

[]

In [25]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.clear()
print(my_list)

del my_list

[]

In [26]:
# Delete entire list
del my_list
print(my_list)

NameError: name 'my_list' is not defined

# Finding an element in tha list

In [29]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]

print(my_list.index(16))

5

In [4]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list["2+5"]
print(my_list)

TypeError: list indices must be integers or slices, not str

In [5]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list["2+5"]
print(my_list)

TypeError: list indices must be integers or slices, not str

In [13]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[4-9])

16

In [14]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[2:8])

[14, 'aayush', 15, 16, 17, 30]

In [19]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[:])

[11, 12, 14, 'aayush', 15, 16, 17, 30, 45, 70]

In [20]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[::2])

[11, 14, 15, 17, 45]

In [21]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.insert(3,35)
print(my_list)

[11, 12, 14, 35, 'aayush', 15, 16, 17, 30, 45, 70]

In [24]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[3] = 56
print(my_list)

[11, 12, 14, 56, 15, 16, 17, 30, 45, 70]

In [23]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[0.5] = 56
print(my_list)

TypeError: list indices must be integers or slices, not float

In [25]:
my_list=[11,12,14,'aayush',15,16,17,30,,45,70]
my_list[0],my_list[3] = 20.6
print(my_list)

SyntaxError: invalid syntax (1333375379.py, line 1)

In [30]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list.clear()
print(my_list)

[]

In [11]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list.index)

<built-in method index of list object at 0x0000020EAFAAD2C0>

In [12]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[2:9:3])

[14, 16, 45]

In [35]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list[2:7:3])

[14, 16]

In [3]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
print(my_list.index(14,17,30))

ValueError: 14 is not in list

In [2]:
print('chirag')

chirag

In [6]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]='mehul'
print(my_list)

[11, 12, 'm', 'e', 'h', 'u', 'l', 15, 16, 17, 30, 45, 70]

In [7]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]=22
print(my_list)

TypeError: can only assign an iterable

In [8]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]=[22]
print(my_list)

[11, 12, 22, 15, 16, 17, 30, 45, 70]

In [9]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]=22,46
print(my_list)

[11, 12, 22, 46, 15, 16, 17, 30, 45, 70]

In [14]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]=22,46,66
print(my_list)

[11, 12, 22, 46, 66, 15, 16, 17, 30, 45, 70]

In [21]:
my_list=[11,12,14,'aayush',15,16,17,30,45,70]
my_list[2:4]=22,46
# print(my_list)

In [22]:
z= ['aayush','mehul','himanshu']
z=set['aayush','mehul','himanshu']
print(z)

set['aayush', 'mehul', 'himanshu']

In [26]:
z=set{'aayush','mehul',[1,2,6]}
print(z)

SyntaxError: invalid syntax (673908871.py, line 1)

# empty set
when we don't pass any itemto tha set constructor than it will create an empty set
- set is iterable- in python, an "iterable" refers to an object that can be iterable over, meaning you can through its elements one by one iterable are a fundamental concept in python's iterable protocol and they are used in various contexts where you need to process elements sequentially such as in loops and comprehension expressions examples of built-in python iterable include lists, tuple,strings dictionaries (when iterable over keys,value of item),sets, and more.

In [27]:
set{}

SyntaxError: invalid syntax (255012698.py, line 1)

In [1]:
z=set['aayush','mehul','himanshu']

In [6]:
emos","atlas shrugged"}book_set = {"harry potter","angels and d

SyntaxError: invalid syntax (509861131.py, line 1)

In [8]:
book_set = {"harry potter","aayush","mehul"}
len(book_set)

3

In [6]:
book_set = {"harry potter","aayush","mehul"}
print(id(book_set))

book_set.update([56])
print(book_set)

2600949075520
{56, 'harry potter', 'aayush', 'mehul'}

# removing item a set
remov(),discart(),pop(),clear(),dal set

In [34]:
my_list={'aayush','neraj','yesh','himanshu'}
my_list.remove('yesh')
print(my_list)

{'neraj', 'aayush', 'himanshu'}

In [1]:
my_list={'aayush','neraj','yesh','himanshu'}
my_list.remove('neraj')
print(my_list)

{'yesh', 'aayush', 'himanshu'}

In [10]:
my_list={'aayush','neraj','yesh','himanshu'}
my_list.discard('yesh')
print(my_list)
type(my_list)

{'himanshu', 'aayush', 'neraj'}

set

In [13]:
my_list={'aayush','neraj','yesh','himanshu'}
my_list.pop(2)
print(my_list)
type(my_list)

TypeError: set.pop() takes no arguments (1 given)

### tha remove()method throws a keyerror if item you want to delete is not present in a set
### tha discard ()method will not throw any error if tha itam you want to delete is not present in a set

# union of set,

In [3]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))


print(id(remaining_colors))

# union using.union() method
vibgyor_colors = color_set.union(remaining_colors)
print(vibgyor_colors)
print(id(vibgyor_colors))

2831034355712
2831034355488
{'violst', 'orang', 'red', 'indigo', 'yello', 'blue,green'}
2831034353696

In [6]:
color_set = {'violst','indigo', 'blue,green','yello'}
remaining_colors = {'indigo','orang','red'}
extra_colors={'black','pink'}                  # Add extra colors this types
vibgyor_colors = color_set.union(remaining_colors,extra_colors)
print(vibgyor_colors)

{'yello', 'blue,green', 'indigo', 'orang', 'violst', 'pink', 'red', 'black'}

In [7]:
color_set = {'violst','indigo', 'blue,green','yello'}
remaining_colors = {'indigo','orang','red'} 
extra_colors={'black','pink'}
vibgyor_colors = color_set.union(remaining_colors,extra_colors)
print(vibgyor_colors)

{'yello', 'blue,green', 'indigo', 'orang', 'violst', 'pink', 'red', 'black'}

# Intersection of set

In [16]:
color_set = {'violst','indigo', 'blue,green','yello'}
remaining_colors = {'indigo','orang','red'}
extra_colors={'black','pink'}
vibgyor_colors = color_set.intersection(remaining_colors,extra_colors)
print(vibgyor_colors)

set()

# Intersection update

defrenc betwine intersection and intersection update

intersection will not update tha original set but intersection_update will original set will only tha common elements intersection will have a return value which is tha new set with common elements between two or more sets whereas intersection_update will have not any return value. let as sec that

In [21]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.intersection(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

color_set.intersection_update(remaining_colors)
print(color_set)
print(id(color_set))

2219926097472
{'indigo'}
{'yello', 'blue,green', 'violst', 'indigo'}
2219926097472
{'indigo'}
2219926097472

In [13]:
color_set = {'violst','indigo', 'blue','green','yello'}
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.intersection(remaining_colors)
print(common_colors)

{'indigo'}

In [14]:
color_set = {'violst','indigo', 'blue','green','yello'}
remaining_colors = {'indigo','orang','red'}
color_set.intersection_update(remaining_colors)
print(color_set)

{'indigo'}

###### color_set = {'violst','indigo', 'blue','green','yello'}
remaining_colors = {'indigo','orang','red'}
color_set.intersection_update(remaining_colors)
print(color_set)

# Difference of sets

In [1]:
color_set = {'violst','indigo', 'blue','green','yello'}
remaining_colors = {'indigo','orang','red'}
print(color_set.difference(remaining_colors))

{'blue', 'yello', 'green', 'violst'}

# Difference_update

In [2]:
color_set = {'violst','indigo', 'blue','green','yello'}
remaining_colors = {'indigo','orang','red'}
print(color_set)
color_set.difference_update(remaining_colors)
print(color_set)

{'blue', 'green', 'indigo', 'violst', 'yello'}
{'blue', 'green', 'violst', 'yello'}

In [3]:
color_set = {'violst','indigo', 'blue','green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

color_set.difference_update(remaining_colors)
print(color_set)
print(id(color_set))

1639237618592
{'blue', 'yello', 'green', 'violst'}
{'blue', 'green', 'indigo', 'violst', 'yello'}
1639237618592
{'blue', 'green', 'violst', 'yello'}
1639237618592

In [4]:
color_set = {'violst','indigo', 'blue','green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))           # id change becos sall is change

color_set.difference_update(remaining_colors)
print(color_set)
print(id(color_set))

1639237617696
{'blue', 'yello', 'green', 'violst'}
{'blue', 'green', 'indigo', 'violst', 'yello'}
1639237617696
{'blue', 'green', 'violst', 'yello'}
1639237617696

In [22]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

color_set.difference_update(remaining_colors)
print(color_set)
print(id(color_set))

2706320662464
{'violst', 'yello', 'blue,green'}
{'violst', 'indigo', 'yello', 'blue,green'}
2706320662464
{'violst', 'yello', 'blue,green'}
2706320662464

In [2]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

colos_set.difference_update(ramaining_colors)
print(color_set)
print(id(color_set))

1757430904448
{'blue,green', 'violst', 'yello'}
{'indigo', 'violst', 'blue,green', 'yello'}
1757430904448

NameError: name 'colos_set' is not defined

In [15]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

color_set.difference_update(remaining_colors)
print(color_set)
print(color_set)
print(id(color_set))

1727365810880
{'violst', 'blue,green', 'yello'}
{'violst', 'indigo', 'blue,green', 'yello'}
1727365810880
{'violst', 'blue,green', 'yello'}
{'violst', 'blue,green', 'yello'}
1727365810880

In [4]:
my_list= {1,4,67,8,54,3,23,87}
if 2 and 9 in list
print('yes','no')

SyntaxError: expected ':' (3932922109.py, line 2)

In [ ]:
my_list= {1,4,67,8,54,3,23,87}
if 2 and 9 in list
print('yes','no')

In [5]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(color_set)
print(id(color_set))

1727352650464
{'violst', 'blue,green', 'yello'}
{'violst', 'indigo', 'blue,green', 'yello'}
1727352650464

In [1]:
color_set = {'violst','indigo', 'blue,green','yello'}
print(id(color_set))
remaining_colors = {'indigo','orang','red'}

common_colors = color_set.difference(remaining_colors)
print(common_colors)
print(id(color_set))

color_set.difference_update(remaining_colors)
print(color_set)
print(color_set)
print(id(color_set))

1940791953440
{'blue,green', 'violst', 'yello'}
1940791953440
{'blue,green', 'violst', 'yello'}
{'blue,green', 'violst', 'yello'}
1940791953440

# Symmetric difference of sets

tha symmetric difference operation, this opratuon is don by using tha symmetric_difference()

In [10]:
color_set = {'violst','indigo', 'blue,green','yello'}
remaining_colors = {'indigo','orang','red'}
 
common_colors = color_set.symmetric_difference(remaining_colors)
print(common_colors)

{'orang', 'violst', 'blue,green', 'yello', 'red'}

# Subset and superset

in python, we con find whether a set is a subset or superset of another set. we 
need to use tha set methods

In [2]:
color_set = {'violst','indigo', 'blue,green','yello'}
remaining_colors = {'indigo','orang','red'}
 
common_colors = color_set(remaining_colors)
print(common_colors)
print(color_set)

TypeError: 'set' object is not callable

# sort tha set

a set is an unordered collection of data item.so there so there is no point in sorting it.if you still want to soet it using tha sorted()methed

In [25]:
setl = {20,56,4,62,45,89,82}
sorted_list = sorted(setl)
print(sorted_list)
type(sorted_list)

[4, 20, 45, 56, 62, 82, 89]

list

# frozen set

A frozenset is an immutable set. frozen set is thus an unordered collection of immutable unique items.
we can create a

In [7]:
fainbow = {'ylolet','indigo','blue','green','yellow','orange','red'}
fainbow.add(1)
print(fainbow )
f_set = frozenset(fainbow)
print(f_set)
f_set.add(2)
print(f_set)

{1, 'indigo', 'blue', 'yellow', 'red', 'ylolet', 'orange', 'green'}
frozenset({1, 'indigo', 'yellow', 'red', 'ylolet', 'blue', 'orange', 'green'})

AttributeError: 'frozenset' object has no attribute 'add'

In [3]:
fainbow = ('ylolet','indigo','blue','green','yellow','orange','red')
f_set.add = frozenset(fainbow)
print(f_set)

AttributeError: 'frozenset' object has no attribute 'add'

# Nested sets 
 in case we try to add anither set as an element to a set than we get tha 'type  error:unhashable type: 'set' this is because a set is non hashable. (a       hashable objact is one whose value will not change
 to creale a nest

In [11]:
raindow = ('ylolet','indigo','blue','green','yellow','orange','red')
other_colors = ('white','black','pink')

nested_set = set((frozenset(raindow),frozenset(other_colors)))
print(nested_set)              
nested_set.add(2)
print(nested_set)

{frozenset({'indigo', 'yellow', 'red', 'ylolet', 'blue', 'orange', 'green'}), frozenset({'pink', 'white', 'black'})}
{frozenset({'indigo', 'yellow', 'red', 'ylolet', 'blue', 'orange', 'green'}), 2, frozenset({'pink', 'white', 'black'})}

In [12]:
a={1,3,{2}}
print(a)

TypeError: unhashable type: 'set'

In [19]:
a={1,2}
b={3,4}
c=frozenset(a)
print(c)
d=frozenset(b)
print(d)
e=(c,d)
print(e)
new_set=set(e)
print(new_set)
new_set.add("hello")
print(new_set)

frozenset({1, 2})
frozenset({3, 4})
(frozenset({1, 2}), frozenset({3, 4}))
{frozenset({3, 4}), frozenset({1, 2})}
{frozenset({3, 4}), 'hello', frozenset({1, 2})}

In [9]:
x=[1,2,4,6]
print(x.insert(2,3))

None